[Unit]
Description=Spin down spare disks when not in use

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/sparesleep.pl

[Install]
WantedBy=multi-user.target
