; vim:isfname-==:ft=systemd

[Unit]
Description=Raspberry pi fan control
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/sbin/pi-tempctl.py
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
