#####           CharminULTRA Prusa MK3S+ Klipper Config Template

##### ***********REVIEW THE README INSTRUCTIONS FOR ALL STEPS***************

# Uncomment the necessary items as you walk through this file. Many are already uncommented. Look for TUNE ME for important areas to tune to your specific printer.
# TUNING STEPS ARE NOT OPTIONAL.

### UI and Built-in Macros (see macros.cfg for added macros)
[include mainsail.cfg]

### PRINTER - Machine Limits are set inside of Klipper rather than from PrusaSlicer
[printer]
kinematics: cartesian

## MK3.5 Settings based on MK3.5 IS PrusaSlicer factory profile machine limits
max_velocity: 300
max_accel: 4000
minimum_cruise_ratio: 0.5
max_z_velocity: 12
max_z_accel: 750

## MK3S+ Settings based on MK3S+ PrusaSlicer factory profile machine limits, if you want to maintain stock speed limits for some reason.
#max_velocity: 200
#max_accel: 1000
#minimum_cruise_ratio: 0.5
#max_z_velocity: 12
#max_z_accel: 200

## Z-OFFSET 
## Copy this from your current setting on Prusa, but make it absolute (removing -). You WILL need to still calibrate this properly, 
## as the probe algorithms between Prusa and Klipper firmware are slightly different.
## Note: Different Z-Offsets for different bed sheets is not yet implemented, but editing this file is a fairly simple method. You can only enable ONE at a time.
[probe]
z_offset = 0.000 #Regular bed sheet
#z_offset = 0.000 #PETG on regular bed sheet, add/delete/edit as needed
#z_offset = 0.000 #Satin bed sheet, add/delete/edit as needed
#z_offset = 0.000 #Textured bed sheet, add/delete/edit as needed
#z_offset = 0.000 #Smooth bed sheet, add/delete/edit as needed

[mcu]
# Use a stable serial path. Find yours by running: ls /dev/serial/by-id/*
serial: /dev/serial0
#serial: /dev/serial0 # If you are using internal RPI serial port, not recommended.
restart_method: command

### CONTROL BOARD
[include einsy-rambo.cfg]

### BASE SETUP
[include display.cfg]
[include steppers.cfg]
[include tmc2130.cfg]



### HOTEND, BED and EXTRUDER - 

## Possible Hotends - This config file is intended for stock Prusa components. If you are using a non-stock hotend or extruder, please see the example configuration files in the dz0ny repository, upon which this project is based. These are not guaranteed to be correct, but a good start.
## 1) Stock V6
## 2) Dragon Standard Flow
## 3) Rapido
## 4) Revo
## 5) Other hotends are easily configurable, but do not have existing pre-made config code.

##Possible Extruders: If you are using a non-stock extruder, please see the example configuration files in the dz0ny repository, upon which this project is based. Changing extruders can require significant modification to your overall configuration, and will require your own research/work.
## 1) Stock Prusa
## 2) BMG 
## 3) Sherpa 8T and 10T
## 4) Other extruders are configurable, but do not have existing pre-made config code.

[extruder]
##TUNE ME
##Extruder Rotation Distance - Prior to calibration, make sure your Idler Screw Tension is correct: https://help.prusa3d.com/article/idler-screw-tension_177367
rotation_distance: 22.95981632 #Make sure you tune this for your individual machine: https://ellis3dp.com/Print-Tuning-Guide/articles/extruder_calibration.html

##TUNE ME
##Items below come from performing PID Tuning, yours will be unique!!
control = pid
pid_kp = 29.944
pid_ki = 2.037
pid_kd = 110.045


##TUNE ME
##Pressure Advance Section - Perform this tuning for your individual machine: https://ellis3dp.com/Print-Tuning-Guide/articles/index_pressure_advance.html
##ENTER THE PA VALUE IN SLICER FILAMENT SETTINGS - In Filament Settings Custom G Code section (allows you to print with different PA for each filament, more flexible than here).
##You may also enter a set a global value here if you want, but it's not recommended.
#pressure_advance: 0.05

nozzle_diameter: 0.4 # Remember to change this if you change nozzle diameter.
min_extrude_temp: 170
min_temp: 0
max_temp: 285
full_steps_per_rotation: 200
filament_diameter: 1.750
max_extrude_only_distance: 200
max_extrude_cross_section: 50.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0 #Limited to the retraction accel on the MK3.5

[heater_bed]
##TUNE ME
##Items below come from performing PID Tuning, yours will be unique!! 
control = pid
pid_kp = 48.658
pid_ki = 0.603
pid_kd = 981.685




### MACROS
[include macros.cfg]

### INPUT SHAPING

# Uncomment ONE of the two lines below, depending on which accelerometer board you are using.
#[include adxlmcu-KUSBA.cfg] # ONLY FOR USE DURING INPUT SHAPING TESTING - Leaving this on without the accelerometer plugged in will cause Klipper to not work.
#[include adxlmcu-BTT.cfg] # ONLY FOR USE DURING INPUT SHAPING TESTING - Leaving this on without the accelerometer plugged in will cause Klipper to not work.

[input_shaper]


### AXIS TWIST COMPENSATION
# Corrects for X-axis twist affecting probe accuracy.
# Common on MK3S/+ due to the PINDA offset from nozzle. Run this BEFORE bed mesh.

[axis_twist_compensation]
calibrate_start_x: 24
calibrate_end_x: 228
calibrate_y: 105

### OTHER FEATURES OR TUNING
[exclude_object]

### SKEW CORRECTION - This is the LAST tuning procedure. Follow instructions.
##TUNE ME
[skew_correction]

### FIRMWARE RETRACTION
## Enables G10/G11 retraction commands handled by Klipper instead of slicer.
## Allows runtime tuning with SET_RETRACTION without reslicing.
## Values below are based on the MK3.5 direct drive extruder.
[firmware_retraction]
retract_length: 0.8
retract_speed: 35
unretract_extra_length: 0
unretract_speed: 35

### HEATER VERIFICATION
## Prevents false "heater not heating" shutdowns. Extruder uses Klipper defaults.
## Bed uses relaxed values because the MK52 heats slowly, especially to 90-100C.
[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2

[verify_heater heater_bed]
max_error: 200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

### IDLE TIMEOUT
## Turns off heaters and disables steppers after 30 minutes of inactivity.
## Default is 10 minutes which can be too short for filament swaps or setup.
[idle_timeout]
timeout: 1800
gcode:
    TURN_OFF_HEATERS
    M84
    M117 Idle timeout

### PERSISTENT VARIABLES
## Required for Spoolman integration and any macros that save state across restarts.
[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

### THIRD PARTY FEATURES

### MISC
[menu __main __octoprint]
type: disabled #Removes Octoprint from physical printer menu. Not needed.

[safe_z_home]
home_xy_position: 11,6
speed: 50.0
z_hop: 15
z_hop_speed: 15.0
move_to_previous: False



###
### STOP
###
### Do not edit anything below this line. The printer will store values here automatically when you
###  perform the SAVE_CONFIG command. They may look like they are commented out but any line that
###  starts with #*# will be read in by Klipper and applied.
###
### When you are done with the guide you should see sections below for extruder, heater_bed, probe, and input_shaper.
###

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#

